/*@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Roboto-LightItalic.eot");
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Roboto-MediumItalic.eot");
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
}*/


// Atlas Grotesk from commercialtype.com
@font-face {
  font-family: 'Atlas Grotesk';
  src: url('#{$baseDir}fonts/AtlasGrotesk-Thin-Web.woff2') format('woff2'),
  url('#{$baseDir}fonts/AtlasGrotesk-Thin-Web.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('#{$baseDir}fonts/AtlasGrotesk-ThinItalic-Web.woff2') format('woff2'),
  url('#{$baseDir}fonts/AtlasGrotesk-ThinItalic-Web.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('#{$baseDir}fonts/AtlasGrotesk-Light-Web.woff2') format('woff2'),
  url('#{$baseDir}fonts/AtlasGrotesk-Light-Web.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('#{$baseDir}fonts/AtlasGrotesk-LightItalic-Web.woff2') format('woff2'),
  url('#{$baseDir}fonts/AtlasGrotesk-LightItalic-Web.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('#{$baseDir}fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
  url('#{$baseDir}fonts/AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('#{$baseDir}fonts/AtlasGrotesk-RegularItalic-Web.woff2') format('woff2'),
  url('#{$baseDir}fonts/AtlasGrotesk-RegularItalic-Web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Atlas Grotesk';
  src: url('#{$baseDir}fonts/AtlasGrotesk-Medium-Web.woff2') format('woff2'),
  url('#{$baseDir}fonts/AtlasGrotesk-Medium-Web.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Atlas Grotesk';
  src: url('#{$baseDir}fonts/AtlasGrotesk-MediumItalic-Web.woff2') format('woff2'),
  url('#{$baseDir}fonts/AtlasGrotesk-MediumItalic-Web.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}



// Brandon Grotesque from fonts.com

// Brandon Grotesque W01 Regular
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('#{$baseDir}fonts/1e5fc8fa-a98c-4613-a08e-c6c975759a80.woff2') format('woff2'),
       url('#{$baseDir}fonts/6b45f9ca-22b4-48ca-962f-6ff1fa7fc196.woff') format('woff');
  font-weight: 400;
}

// Brandon Grotesque W01 Medium
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('#{$baseDir}fonts/50ca6f6f-b64d-4af0-9b30-526cf363d87e.woff2') format('woff2'),
       url('#{$baseDir}fonts/050c2cbf-b818-4b8e-b6d2-71b70478bd9d.woff') format('woff');
  font-weight: 500;
}

// Brandon Grotesque W01 Bold
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('#{$baseDir}fonts/df1cd944-a6a3-4d30-8fd3-391c2e9531f1.woff2') format('woff2'),
       url('#{$baseDir}fonts/4f2d0548-c7dc-459b-a2e0-e86656a10ded.woff') format('woff');
  font-weight: 700;
}

// Brandon Grotesque W01 Black
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('#{$baseDir}fonts/5eb8ec44-bd3d-4f8e-a022-4435afe8c772.woff2') format('woff2'),
       url('#{$baseDir}fonts/f74a4823-b1ad-4887-9f8e-b02719f2972b.woff') format('woff');
  font-weight: 800;
}